@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Oswald&display=swap');


.App {
  text-align: center;
  background-color: #e1d6d6;
  background-size: auto;
}

.App-header {
  background-color: #e1d6d6; 
  background-size: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  background-color: #e1d6d6; 
  margin: 0;
  padding: 0;
  font-family: 'Jost', 'Oswald', sans-serif;
}

h1 {
  font-size: calc(10px + 2vmin);
  font-family: 'Jost', 'Oswald', sans-serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  margin: 20;
  padding: 0 0 10px 0;
  text-align: left;
  color: #9b8884;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-family: 'Jost', 'Oswald', sans-serif;
  color: #9b8884;
}

h3 {
  font-family: 'Jost', 'Oswald', sans-serif;
  text-align: left;
  font-weight: 500;
}

p {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
  color: #4D4948;
  align-self: center;
}

a {
  color: #9b8884;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #B06C56;
}

img {
  max-width: 25%;
  align-content: center;
}

@media screen and (max-width: 437px) {
  img{
    max-width: 75%;
  }
}

.page {
  padding: 2.5vh 5vh;
  min-height: 66vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.home,
.video,
.blog,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}



